* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

a {
    color: inherit;
    text-decoration: none;
    display: block;
}

p a {
    display: inline;
}

img,
picture,
video,
iframe {
    display: block;
    width: 100%;
    /* height: initial; */
}

form,
input,
label,
select,
option,
textarea,
button {
    font-size: inherit;
    font-family: inherit;
    display: block;
    background-color: transparent;
}

:root {
    font-size: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", serif;

}

/**************** FIN RESET *****************/

/**************** INICIO HEADER *****************/

.header {
    width: 100%;
    /* min-height: 2rem; */
    /* background-color: rgb(70, 238, 70); */

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    padding: .5rem 2rem;
    position: fixed;
    top: 0;
    z-index: 1;
}

.header__h1 {
    font-size: 2em;
    font-weight: 500;
}

.header__btn {
    /* background-color: aqua; */
    display: none;
    padding-left: 1rem;
    font-size: 2rem;

    cursor: pointer;
}

.header__nav {
    position: relative;
    /* margin: 0 1rem; */
}

.nav__ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.nav__li {}

/**************** FIN HEADER *****************/

/**************** INICIO MAIN *****************/

.main {
    margin-top: 3.5rem;
}

.wrapper__principal {
    width: 100%;
    min-height: 30rem;
    /* background-color: rgb(255, 255, 151); */
}

.principal__grid {
    width: 98%;
    min-width: 20rem;
    /* background-color: aqua; */
    margin: 0 auto;
    padding-top: 5rem;
    gap: .7rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.principal__img {
    /* background-color: navajowhite; */

}

.principal__img picture {
    width: 100%;
    /* min-height: 15rem; */
    /* background-color: rebeccapurple; */
}


.principal__h2 {
    /* background-color: lightsalmon; */
    margin-top: 1.5rem;
    font-size: 1.2em;
}

.principal__p {
    /* background-color: lightslategray; */
    margin-top: 1.5rem;
}

/***************** INICIO CARRUSEL *****************/

.carrusel {
    width: 100%;
    /* background-color: lightgrey; */
    /* margin: 2rem auto; */
    position: relative;

    overflow: hidden;
    border-radius: .7rem;
}

.carrusel__img {
    width: 300%;
    /* 300% porque tiene 3 imágenes */
    /* background-color: orange; */

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 1rem; */

    transition: all 0.5s ease;
    transform: translateX(0);
}

.carrusel__imgs {
    min-height: 200px;
    /* background-color: aqua; */
}

/* .carrusel__arrow{
    width: 3rem;
    height: 3rem;
    background-color: rgb(186, 185, 185);

    position: absolute;
    top: calc(50% - 1.5rem);
} */
.siguiente {
    right: 0;
}

.anterior {
    left: 0;
}

.carrusel__ul {
    width: 100%;
    position: absolute;
    bottom: .6rem;
    /* background-color: brown; */

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.wrapper__logproyecto__h3 {
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.logoproyecto__h3 {
    color: white;
    font-size: 3.5vw;
    font-weight: 600;

}


.carrusel__btn {
    width: 4vw;
    height: .3rem;
    background-color: rgb(125, 125, 125);
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
    /* display: none; */
}

.carrusel__btn span {
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background-color: rgb(217, 217, 217);
    transition: width 3s linear;
}

.progress-bar {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 0%;
    height: 5px;
    background: rgb(255, 241, 241);
    /* Cambio de color para destacar */
}


/***************** FIN CARRUSEL *****************/

/* CAMBIAR ESTO, ES PARA PONER EN MODOO MÓVIL PEROO LO TENGO A MEDIAS */
.tab {
    background-color: #f1f1f1;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    margin-top: 5px;
    user-select: none;
    touch-action: manipulation;
}
.content {
    display: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-top: none;
}

/****************** MEDIA QUERIES ******************/

@media (max-width: 1000px) {

    .principal__grid {
        width: 96%;
        grid-template-columns: repeat(1, 1fr);
        gap: 6rem;
    }

    .logoproyecto__h3 {
        font-size: 8vw;
    }

    .carrusel__btn {
        width: 15vw;
    }

    .header__btn {
        display: block;
    }

    .header__nav {
        width: 100%;
        display: none;
    }

    .header__nav.isActive {
        display: block;
    }

    .nav__ul {
        width: 100%;
        min-height: 100vh;
        background-color: rgb(255, 255, 255);
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: absolute;
        font-size: 1.5em;

        padding: 7rem 0 0 4rem;
        /* margin-top: 1rem; */
        /* backdrop-filter: blur(.58rem); */
    }

    .nav__li:first-child{
        margin-bottom: 1rem;
    }
    .header {
        padding: 0;
        background-color: white;
    }

    .header__h1,
    .header__btn {
        padding: .5rem 1rem;
    }

}